server:
  port: 0
jwt:
  secret: yoursveryssecuressecretskeysminimums32scharacters
spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://localhost:5432/FinanceUsers
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}